@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* css variable */
:root {
  --bgPrimary: #fff4e7;
  --btnPrimary: #ff900e;
  --Dark1: #131313;
  --Dark2: #727272;
}
/* universel code / reset code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  max-width: 1400px;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: 4px;
}
.btn {
  background-color: var(--btnPrimary);
}
/* header */
header {
  max-width: 1400px;
  padding-left: 130px;
  padding-right: 110px;
  background-color: var(--bgPrimary);
}
/* nav code */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}
.brand {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--Dark1);
  cursor: pointer;
}
.nav_item {
  display: flex;
}
.nav_list {
  margin-right: 2rem;
}
.nav_link {
  font-size: 1.2rem;
  color: var(--Dark2);
  transition: all 0.2s ease-in-out;
}
.nav_link:hover {
  color: var(--Dark1);
}
/* responsive code */
/* small device */
@media screen and (max-width: 576px) {
  .navigation {
    justify-content: space-between;
padding-top: 1rem;
  }
  .brand {
    font-size: 1rem;
  }
  header {
    padding-left: 10px;
    padding-right: 1px;
  }
  .nav_list:last-child {
    margin-right: 0.2rem;
  }
  .nav_link {
    font-size: 0.6rem;
    color: var(--Dark2);
    transition: all 0.2s ease-in-out;
  }
}
/* medium code */
@media screen and (min-width: 577px) and (max-width: 992px) {
    header {
        padding-left: 10px;
        padding-right: 1px;
      }
    .navigation {
      
    padding-top: 1rem;
      }
    .brand {
        font-size: 2rem;
      }
      .nav_list:last-child {
        margin-right: 0.2rem;
      }
}
