@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* css variable */
:root {
  --bgPrimary: #fff4e7;
  --btnPrimary: #ff900e;
  --Dark1: #131313;
  --Dark2: #727272;
  --Dark3: #727272;
  --btnHover: blueviolet;
  --fontfamily: "Work Sans", serif;
}
/* universel code / reset code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  max-width: 1400px;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: 4px;
}
.btns {
  background-color: var(--btnPrimary);
  color: #fff;
  padding: 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btns:hover {
  background-color:  var(--btnHover);
}
/* header */
header {
  max-width: 1400px;
  padding-left: 130px;
  padding-right: 110px;
  background-color: var(--bgPrimary);
}
/* nav code */
.custom_nav{
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.brand {
  font-weight: bold;
  color: var(--Dark1);
  cursor: pointer;
  margin: 0;
}

/* banner */
.banner_content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.banner_title {
  font-size: 4rem;
  color: var(--Dark1);
  font-weight: bold;
  margin-top: 160px;
  margin-bottom: 1.4rem;
}
.banner_description {
  color: var(--Dark2);
  margin-bottom: 1.5rem;
}
.explore {
  text-align: center;
  margin-bottom: 1rem;
}
.banner img {
  margin: 1rem auto;
  max-width: 100%;
}

/* teams */
.teams {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 992px;
  gap: 2.5rem;
  margin: 2rem auto;
  padding: 1rem;
}
.teams_img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3rem;
  min-width: 50%;
}
.teams_img img {
  max-width: 100%;
}
.teams_content {
  min-width: 50%;
}
.teams_content_title {
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}
.dark3 {
  color: var(--Dark3);
  font-size: 2.8rem;
  font-weight: 600;
}
.dark {
  color: var(--Dark1);
  font-weight: bold;
  font-size: 2.8rem;
}
.red {
  color: var(--btnPrimary);
  font-size: 2.8rem;
  font-weight: 600;
}
.teams_description {
  color: var(--Dark2);
  line-height: 1.3rem;
  margin-bottom: 1rem;
}
/* features */
.Features{
    max-width: 992px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.features_image , .features_content{
    flex: 1;
    align-items: center;
  }
.Features_card{
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.1) ;
    transition: all 0.3s ease-in-out;
}
.Features_card:hover{
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0 0 0 0.2px rgba(143, 11, 11, 0.1);
}
.Features_card h2{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--Dark1);
    margin-bottom: 0.5rem;
}
.Features_card p{
    color: var(--Dark2);
    line-height: 1.7rem;
}
.features_title{
    border-left: 5px solid var(--btnPrimary);
    padding-left: 20px;
    color: var(--Dark1);
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.9rem;
}
.features_description{
color: var(--Dark2);
font-style: normal;
font-size: 1rem;
margin-bottom: 2rem;
}

.features_image img{
    max-width: 100%;
    min-height: 100%;
   margin-left: 80px;
    
}
.Experience{
font-size: 1.5rem;
font-weight: 400;
}
.experienceYears{
    font-size: 3rem;
    color: white;
    font-weight: bold;
}
.Badge{
margin-top: -70px;
}
/* facts code  */
.Facts{
    max-width: 992px;
    margin: 0 auto;
}
.fact_content h1{
    font-size: 3rem;
    color: var(--Dark1);
    font-weight: bold;
    margin-bottom: 0.8rem;
}
.fact_content p{
    color: var(--Dark2);
}
.Facts_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-width: 200px;
    min-height: 200px;
    border: 1px solid var(--btnPrimary);
    border-radius: 1rem;
    cursor: pointer;
}
.card img{
    max-width: 30%;
}
.number{
    font-size: 2.7rem;
    color: var(--Dark3);
font-weight: 600;
}
.Factsmessage{
    font-size: 1.2rem;
color: var(--Dark3);
}
/* sponsorship sode */
.sponsorship {
  max-width: 992px;
  margin: 3rem auto;
  padding: 1rem;
}
.spon_decription {
  text-align: center;
  font-size: 1rem;
  color: var(--Dark3);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.spon_title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  margin-top: 4rem;
}
.sponship_images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  
}
.sponsorship img {
  max-width: 100px;
  margin-top: 2rem;
  margin-bottom: 2.6rem;
}
/* footer start */
footer {
  max-width: 1000px;
  background-color: var(--bgPrimary);
  text-align: center;
  margin: 2rem auto;
}
footer p {
  padding: 1rem;
  color: var(--Dark2);
}
/* responsive code */
/* small device */
@media screen and (max-width: 576px) {
  .btns{
    padding: 0.6rem;
    font-size: 0.7rem;
    font-weight: 600;
  }
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* banner */
  .banner_title {
    font-size: 2rem;
    margin-top: 4rem;
  }
  .banner_description {
    font-size: 0.7rem;
  }
  .teams {
    flex-direction: column;
  }
  .teams_img {
    min-width: 100%;
  }
  .teams_content_title{
    text-align: left;
    
  }
  .dark3 {
    color: var(--Dark3);
    font-size: 2rem;
    font-weight: 600;
  }
  .dark {
    color: var(--Dark1);
    font-weight: bold;
    font-size: 2rem;
  }
  .red {
    color: var(--btnPrimary);
    font-size: 2rem;
    font-weight: 600;
  }
  .Features{
    flex-direction: column;
  }
  .features_image img{
    margin: 0;
    min-width: 100%;
    padding: 0.4rem;
  }
  .Features_card{
    margin: 0.4rem;
  }
  .features_title{
    font-size: 2.5rem;
    margin-right: 0.9rem;
  }
  .features_description{
    text-align: center
  }
  .Badge{
    margin-left: 25%;
  }
 .Facts_cards{
    grid-template-columns: repeat(1, 1fr);
 }
  .sponsorship{
    margin: 0.4rem 0;
  }
  .sponsorship img {
    max-width: 45px;
   margin-bottom: 0;
   margin-top: 1rem;
  }
  .spon_decription{
    font-size: 0.9rem;
  }
  .spon_title{
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .Facts{
    max-width: 97%;
  }
  .fact_content p, h1{
    text-align: center;
  }
  .Facts_cards{
    flex-direction: column;
    gap: 15px;
  }
  footer p {
    font-size: 0.6rem;
  }
}
/* medium code */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .btns {
    padding: 0.8rem;
    font-size: 0.9rem;
    font-weight: 600;
  }
  /* nav */
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .brand {
    font-size: 2rem;
  }
  .Features{
    flex-direction: column-reverse;
  }
  .features_image img{
    margin: 0;
    min-width: 100%;
    padding: 0.4rem;
  }
  .Features_card{
    margin: 0.4rem;
  }
  .Badge{
    margin-left:35% ;
  }
  /* banner */
  .banner_title {
    font-size: 3rem;
    margin-top: 4rem;
  }
  .banner_description {
    font-size: 1rem;
  }
  .teams {
    flex-direction: column;
  }
  .teams_img {
    min-width: 100%;
  }
  .explore, .teams_description, .teams_content_title{
    text-align: left;
  }
  .Facts_cards{
    grid-template-columns: repeat(2, 1fr);
  }
  .fact_content p, h1{
    text-align: center;
  }
}