@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* css variable */
:root {
  --bgPrimary: #fff4e7;
  --btnPrimary: #ff900e;
  --Dark1: #131313;
  --Dark2: #727272;
  --Dark3:#727272;
}
/* universel code / reset code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  max-width: 1400px;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: 4px;
}
.btn {
  background-color: var(--btnPrimary);
  color: #fff;
  padding: 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn:hover{
    background-color: var(--Dark1);
}
/* header */
header {
  max-width: 1400px;
  padding-left: 130px;
  padding-right: 110px;
  background-color: var(--bgPrimary);
}
/* nav code */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}
.brand {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--Dark1);
  cursor: pointer;
}
.nav_item {
  display: flex;
}
.nav_list {
  margin-right: 2rem;
}
.nav_list:last-child {
  margin-right: 0.2rem;
}
.nav_link {
  font-size: 1.2rem;
  color: var(--Dark2);
  transition: all 0.2s ease-in-out;
}
.nav_link:hover {
  color: var(--Dark1);
}
/* banner */
.banner_content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.banner_title {
  font-size: 4rem;
  color: var(--Dark1);
  font-weight: bold;
  margin-top: 160px;
  margin-bottom: 1.4rem;
}
.banner_description {
  color: var(--Dark2);
  margin-bottom: 1.5rem;
}
.explore {
  text-align: center;
  margin-bottom: 1rem;
}
.banner img {
  margin: 1rem auto;
  max-width: 100%;
}
/* teams */
.teams{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 992px;
    gap: 2.5rem;
    margin: 2rem auto;
    padding: 1rem;
}
.teams_img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
    min-width: 50%;
}
.teams_img img{
    max-width: 100%;
}
.teams_content{
    min-width: 50%;

}
.teams_content_title{
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
}
.dark3{
    color: var(--Dark3);
    font-size: 2.8rem;
    font-weight: 600;
}
.dark{
    color: var(--Dark1);
    font-weight: bold;
    font-size: 2.8rem;
}
.red{
    color: var(--btnPrimary);
    font-size: 2.8rem;
font-weight: 600;
}
.teams_description{
color: var(--Dark2);
line-height: 1.3rem;
margin-bottom: 1rem;
}
/* footer start */
footer{
    max-width: 1000px;
    background-color: var(--bgPrimary);
    text-align: center;
    margin: 3rem auto;
}
footer p{
    padding: 1rem;
    color: var(--Dark2);
}
/* responsive code */
/* small device */
@media screen and (max-width: 576px) {
  .btn {
    padding: 0.6rem;
    font-size: 0.7rem;
    font-weight: 600;
  }
  /* nav  */
  .navigation {
    justify-content: space-between;
    padding-top: 1rem;
  }
  .brand {
    font-size: 1rem;
  }
  header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav_link {
    font-size: 0.6rem;
    color: var(--Dark2);
    transition: all 0.2s ease-in-out;
  }
  /* banner */
  .banner_title {
    font-size: 2rem;
    margin-top: 4rem;
  }
  .banner_description {
    font-size: 0.7rem;
  }
  .teams{
    flex-direction: column;
  }
  .teams_img{
    min-width: 100%;
  }
}
/* medium code */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .btn {
        padding: 0.8rem;
        font-size: 0.9rem;
        font-weight: 600;
      }
  /* nav */
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navigation {
    padding-top: 1rem;
  }
  .brand {
    font-size: 2rem;
  }
  /* banner */
  .banner_title {
    font-size: 3rem;
    margin-top: 4rem;

  }
  .banner_description {
    font-size: 1rem;
  }
  .teams{
    flex-direction: column;
  }
  .teams_img{
    min-width: 100%;
  }
}